.App {
  text-align: center;
  margin-top: 30px;
}

.oneVideo {
  margin: 10px;
}

.inputBar {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 50px;
}

.allVideos {
  margin-left: auto;
  margin-right: auto;
}